<footer>
    <div class="camara">
        <img src="/assets/camara2.png"/>
    </div>
    <div class="social-media">
        <h5>Síguenos en nuestras redes</h5>
        <ul>
            <li>
                <a href="//www.facebook.com/inmosdr/">
                    <fa-icon [icon]="['fab', 'facebook-square']"></fa-icon>
                </a>
            </li>
            <li>
                <a href="//twitter.com/@InmobiliariaSdr">
                    <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                </a>
            </li>
        </ul>
    </div>
    <div class="contactanos">
        <h5>Inmobiliaria SDR</h5>
        <ul>
            <li>
                <label>informacion@inmobiliariasdr.comn</label>
            </li>
            <li>
                <label>23648022</label>
            </li>
            <li><label >
                Carreterra a El Salvador km. 10 Montebello 2 lote T1<br/>
                10009 Ciudad de Guatemala</label></li>
        </ul>
    </div>
</footer>
