<div class="row col-sm-12">
    <h1>Acerca de nosotros</h1>
</div>
<div class="row col-sm-12">
    <button mat-stroked-button color="primary" (click)="expand()">Nuevo Topin</button>
</div>
<div class="row col-sm-12 bordered" *ngIf="expanded">
    <div class="col-sm-8">
        <mat-form-field class="full-width">
            <input matInput placeholder="titulo" [(ngModel)]="newTopin.title" type="text" required>
        </mat-form-field>
    </div>
    <div class="col-sm-4">
        <mat-form-field class="full-width">
            <input matInput placeholder="orden" [(ngModel)]="newTopin.order" type="number" required>
        </mat-form-field>
    </div>
    <div class="col-sm-12">
        <mat-form-field class="full-width">
            <textarea matInput placeholder="Contenido" [(ngModel)]="newTopin.content"></textarea>
        </mat-form-field>
    </div>
    <div class="col-sm-12">
        <button class="pull-right" (click)="crear()" mat-stroked-button color="primary">GUARDAR</button>
    </div>
</div>
<div class="col-sm-12 padding-both" *ngIf="expanded">
    <mat-divider></mat-divider>
</div>
<div class="row col-sm-12 card" *ngFor="let topin of topins">
    <mat-card class="full-width">
        <mat-card-header>

            <div class="col-sm-7">
                <mat-form-field class="full-width">
                    <input matInput placeholder="titulo" [(ngModel)]="topin.data.title" type="text" required>
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field class="full-width">
                    <input matInput placeholder="orden" [(ngModel)]="topin.data.order" type="number" required>
                </mat-form-field>
            </div>

        </mat-card-header>
        <mat-card-content>
            <div class="col-sm-12">
                <mat-form-field class="full-width">
                    <textarea matInput [(ngModel)]="topin.data.content"  placeholder="Contenido"></textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="col-sm-12">
                <button mat-stroked-button color="primary" (click)="edit(topin)" class="pull-right">EDITAR</button>
                <button mat-stroked-button color="warn" (click)="delete(topin.id)" class="pull-right">ELIMINAR</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
