<app-header></app-header>
<div class="property-container">
  <div class="gallery-container">
    <slideshow 
    [imageUrls]="property.gallery"
    [backgroundSize]="'90% 90%'"
    [backgroundRepeat]="'no-repeat'"
    [backgroundPosition]="'center center'"
    [height]="'100%'"></slideshow>
  </div>
  <div class="content">
    <h1>
      <div class="title">
          {{property.title}}
      </div>
      <div class="price">
        {{property.currency}}
        {{property.price}}
      </div>
    </h1>
    <p>
      {{property.description}}
    </p>
    <h2>Amenidades:</h2>
    <p>
       <span class="amenidad">
        <label>Tipo de Operacion:</label> {{property.operationType}}
       </span>

       <span class="amenidad">
          <label>Tipo de propiedad:</label> {{property.propertyType}}
       </span>
      <span class="amenidad">
        <label>Habitaciones:</label> {{property.rooms}}
      </span>
      <span class="amenidad">
          <label>Baño:</label> {{property.bathroom}}
      </span>
      <span class="amenidad">
          <label>Estacionamientos:</label> {{property.parking}}
      </span>
      <span class="amenidad">
          <label>Medidas:</label> {{property.length}}
      </span>
    </p>
    
      <h3>Deseas mas informacion?</h3>
    
    <div class="frm-contacto">
      <input type="text" placeholder="Nombre" />
      <input type="text" placeholder="Correo" />
      <input type="text" placeholder="Telefono" />
      <textarea placeholder="Comentario"></textarea>
      <button>Contactar</button>
    </div>

  </div>
  
</div>
