<app-header></app-header>
<div class="property-container" *ngIf="property">
    <div class="gallery-container">
        <app-gallery [gallery]="property.gallery"></app-gallery>
    </div>
    <div class="content">
        <h1>
            <div class="title">
                {{property.title}}
            </div>
            <div class="price">
                {{property.currency}}
                {{property.price}}
            </div>
        </h1>
        <p>
            {{property.description}}
        </p>
        <div class="half">
            <h2>Detalles:</h2>
            <p>
               <span class="amenidad">
                <label>Tipo de Operacion:</label> {{property.operationType}}
               </span>

                        <span class="amenidad">
                  <label>Tipo de propiedad:</label> {{property.propertyType}}
               </span>
                        <span class="amenidad">
                <label>Habitaciones:</label> {{property.rooms}}
              </span>
                        <span class="amenidad">
                  <label>Baño:</label> {{property.bathroom}}
              </span>
                        <span class="amenidad">
                  <label>Estacionamientos:</label> {{property.parking}}
              </span>
                <span class="amenidad">
                  <label>Área:</label> {{property.length}}
              </span>
            </p>
        </div>
        <div class="half">
            <h3>
                Deseas mas informacion?
                <input type="text" style="opacity: 0;z-index:-999;" [(ngModel)]="url" id="url" #urlInput />
                <button class="share" (click)="share(urlInput)">COMPARTIR</button>
            </h3>

            <div class="frm-contacto" *ngIf="!contacted">
                <input type="text" placeholder="Nombre" [(ngModel)]="name"/>
                <input type="text" placeholder="Correo" [(ngModel)]="email"/>
                <input type="text" placeholder="Telefono" [(ngModel)]="phone"/>
                <textarea placeholder="Comentario" [(ngModel)]="comment"></textarea>
                <button (click)="contact()">Contactar</button>
            </div>
            <div class="frm-contacto" *ngIf="contacted">
                <h5>Contactado</h5>
            </div>
            <h3>
                Deseas enviar por correo esta propiedad?
            </h3>
            <div class="frm-contacto">
                <input type="text" placeholder="correo@correo.com" [(ngModel)]="shareEmail" />
                <button (click)="sendForEmail()">Enviar</button>
            </div>
            <div class="frm-contacto" *ngIf="contactedEmail">
                <h5>Enviado</h5>
            </div>
        </div>



    </div>

</div>
