body {
    padding: 0;
    margin: 0 !important;
    height: 150vh;
}

.search-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    min-height: 10vh;
    float: left;
    background-color: rgba(50, 225, 255, .2);
    border-radius: 10px;
    z-index: 999;
}

.inputs-container {
    /*width: 90%;*/
    /*float: left;*/
    /*height: 8vh;*/
    /*z-index: 99;*/
    /*margin-left: 4vw;*/
    /*margin-top: 1vh;*/
    /*border-radius: 10px;*/
    width: 90%;
    float: left;
    height: 8vh;
    z-index: 99;
    border-radius: 10px;
    margin: 15% 5%;
}

.dropdown {
    float: left;
    width: 25%;
    height: 100%;
    background-color: rgba(255, 255, 255, .65);
    position: relative;
    color: #000;
    text-shadow: 0px 0px 2px #a1a1a1;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    vertical-align: center;
}

.ubicacion {
    float: left;
    width: 30%;
    height: 100%;
    background-color: rgba(255, 255, 255, .65);
    border: none;
    padding: 5px;
    text-align: center;
    color: #000;
    text-shadow: 0px 0px 2px #a1a1a1;
    font-size: 24px;
    outline-width: 0;
}

.ubicacion::placeholder {
    color: #000;
    text-shadow: 0px 0px 2px #a1a1a1;
    font-size: 24px;
}

.middle-dropdown {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.last-dropdown {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search {
    float: left;
    width: 20%;
    height: 100%;
    background-color: rgba(50, 225, 255, 0.65);
    border: none;
    padding: 5px;
    text-align: center;
    color: #000;
    text-shadow: 0px 0px 2px #a1a1a1;
    font-size: 24px;
    outline-width: 0;
}

.label-dropdown {
    width: 100%;
    margin: 8% auto;
    height: 24px;
    font-size: 20px;
    font-weight: 900;
}

.expanded-dropdown {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 0;
    top: 0;
    transition: all .5s ease;
    width: 100%;
    opacity: 0;
    float: left;
    min-height: 100%;

}

.item-dropdown {
    float: left;
    text-align: center;
    height: 8vh;
    padding: 20px 0;
    width: 100%;
    border: 1px solid #a1a1a1;
    cursor: pointer;
}

.item-dropdown:hover {
    color: #32E1FF;

}

.expanded-dropdown:hover {
    height: auto;
    opacity: 1;
    transform: translateY(0);
}

.search-container-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: auto;
    float: left;
    background-color: rgba(50, 225, 255, .2);
    border-radius: 10px;
    display: none;
}

.search-container-mobile > select, .search-container-mobile > input {
    float: left;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #a1a1a1;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.feature-properties {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, 30%);*/
    /*width: 80vw;*/
    /*min-height: 30vh;*/
    /*float: left;*/
    /*background-color: rgba(50, 225, 255, .2);*/
    /*border-radius: 10px;*/

    width: 100vw;
    min-height: 30vh;
    float: left;
    /*background-color: rgba(50, 225, 255, .2);*/
    border-radius: 10px;
}

.container-feature-properties {
    width: 80vw;
    height: 345px;
    margin: 0 auto;
    /*float: left;*/
    padding: 10px 5px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.container-feature-properties > .property {
    float: left;
    width: 18vw;
    height: 28vh;
    background: white;
    border-radius: 10px;
    margin-right: 15px;
}

.container-feature-properties > .property:first-child {
    margin-left: 15px;
}

.container-feature-properties > .property:last-child {
    margin-right: 0px;
}

.container-feature-properties > .property > .photo {
    float: left;
    width: 100%;
    height: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container-feature-properties > .property > .description {
    float: left;
    width: 100%;
    padding-top: 10px;
}

.container-feature-properties > .property > .description > .title {
    float: left;
    font-size: 18px;
    font-weight: 900;
    color: #000;
    padding-left: 5px;
}

.container-feature-properties > .property > .description > .share {
    float: right;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 2px;
}

.main-container {
    float: left;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /*background-color: #74D4E1;*/
}

.title-feature {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    margin-top: 20px;
}


.property {
    float: left;
    width: 20vw;
    height: 320px !important;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #a1a1a1;
    padding-bottom: 20px;
}

.property .thumbnail {
    float: left;
    width: 100%;
    height: 65%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.property .description {
    float: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.property .description .type {
    float: left;
    margin-left: 10px;
}

.property .description .operation {
    float: right;
    margin-right: 10px;
}

.property .title {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    color: #000;
    padding-left: 10px;
}

.property .amenities {
    clear: both;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    color: #000;
    padding-left: 10px;
}

.property .action {
    float: left;
    width: 100%;
}

.property .action .btn {
    float: right;
    background: white;
    color: #a1a1a1;
    border: 1px solid #74D4E1;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.property .action .btn:hover {
    border: 1px solid #a1a1a1;
    color: #74D4E1;
}

.price {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    color: white;
    text-shadow: #000 0px 0px 2px;
}


@media only screen and (max-width: 980px) {
    .label-dropdown {
        font-size: 14px;
        margin: 17% auto;
    }

    .ubicacion,
    .ubicacion::placeholder {
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) {
    .dropdown {
        clear: both;
        width: 100%;
        border-radius: 0;
    }

    .ubicacion {
        clear: both;
        width: 100%;
    }

    .search {
        clear: both;
        width: 100%;
    }

    .search-container {
        display: none !important;
    }

    .search-container-mobile {
        display: block !important;
    }

    .container-feature-properties, .feature-properties {
        display: none;
    }

    .title-feature {
        display: none;
    }

    .inputs-container {
        display: none;
    }
}
