<app-header></app-header>
<div class="search-container-mobile">
    <select [(ngModel)]="typeSelected">
        <option value="default">Tipo de propiedad</option>
        <option *ngFor="let item of typeProperties" value="{{item}}">{{item}}</option>
    </select>
    <select [(ngModel)]="operationSelected">
        <option value="default">Tipo de operación</option>
        <option *ngFor="let item of operations" value="{{item}}">{{item}}</option>
    </select>
    <select [(ngModel)]="zone">
        <option value="">Ubicación</option>
        <option *ngFor="let loc of zones" value="{{loc}}">{{loc}}</option>
    </select>
    <button class="search " (click)="search()">
        BUSCAR
    </button>
</div>

<div class="main-container" [style.background-image]="'url('+backgroundImage+')'">
    <div class="inputs-container">
        <!-- tipo de propiedad -->
        <div class="dropdown">
            <div class="label-dropdown">
                {{(typeSelected == 'default') ? 'Tipo de propiedad' : typeSelected}}
            </div>
            <div class="expanded-dropdown">
                <div class="item-dropdown" *ngFor="let item of typeProperties" (click)="typeSelected=item">
                    {{item | uppercase}}
                </div>
            </div>
        </div>
        <!-- tipo de operacion -->
        <div class="dropdown middle-dropdown">
            <div class="label-dropdown">
                {{(operationSelected == 'default') ? 'Tipo de operación' : operationSelected }}
            </div>
            <div class="expanded-dropdown">
                <div class="item-dropdown" *ngFor="let item of operations" (click)="operationSelected=item">
                    {{item | uppercase}}
                </div>
            </div>
        </div>
        <!-- tipo de operacion -->
        <div class="dropdown middle-dropdown">
            <div class="label-dropdown">
                {{(zone == '') ? 'Ubicación' : zone }}
            </div>
            <div class="expanded-dropdown">
                <div class="item-dropdown" *ngFor="let loc of zones" (click)="zone=loc">
                    {{loc | uppercase}}
                </div>
            </div>
        </div>
        <button class="search last-dropdown" (click)="search()">
            BUSCAR
        </button>
    </div>
</div>
<div class="title-feature">
    Propiedades Destacadas
</div>

<div class="feature-properties">
    <div class="container-feature-properties">


        <div class="property"
             *ngFor="let property of featureProperties">
            <div class="thumbnail" (click)="redirectProperty(property.data.title, property.id)"
                 [style.background-image]="'url(http://inmobiliariasdr.com/sdr/'+property.data.gallery[0]+')'">
                <div class="price">{{property.data.currency}}{{property.data.price}}</div>
            </div>
            <div class="description">
                {{property.promotion}}
                <div class="type">{{property.data.propertyType}}</div>
                <div class="operation">{{property.data.operationType}}</div>
            </div>
            <div class="title">{{property.data.title}}</div>
            <div class="amenities">
                {{property.data.rooms}}&nbsp;<fa-icon [icon]="['fas', 'bed']"></fa-icon>&nbsp;
                {{property.data.bathroom}}&nbsp;<fa-icon [icon]="['fas', 'bath']"></fa-icon>&nbsp;
                {{property.data.parking}}&nbsp;<fa-icon [icon]="['fas', 'car']"></fa-icon>&nbsp;
            </div>
            <div class="action">
                <button class="btn" (click)="redirectProperty(property.data.title, property.id)">
                    DETALLES
                </button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
