<app-header></app-header>
<div class="search-container-mobile">
    <select [(ngModel)]="typeSelected">
        <option value="default">Tipo de propiedad</option>
        <option *ngFor="let item of typeProperties" value="{{item}}">{{item}}</option>
    </select>
    <select [(ngModel)]="operationSelected">
        <option value="default">Tipo de operación</option>
        <option *ngFor="let item of operations" value="{{item}}">{{item}}</option>
    </select>
    <input type="text" [(ngModel)]="zone" placeholder="ubicacion (zona 10)" />

    <button class="search " (click)="search()">
        BUSCAR
    </button>
</div>
<div class="search-container"  *ngIf="!isMobile">
    <div class="inputs-container">
        <!-- tipo de propiedad -->
        <div class="dropdown">
            <div class="label-dropdown">
                {{(typeSelected=='default')? 'tipo de propiedad' : typeSelected}}
            </div>
            <div class="expanded-dropdown">
                <div class="item-dropdown" *ngFor="let item of typeProperties" (click)="typeSelected=item">
                    {{item}}
                </div>
            </div>
        </div>
        <!-- tipo de operacion -->
        <div class="dropdown middle-dropdown">
            <div class="label-dropdown">
                {{(operationSelected=='default')? 'tipo de operacion' : operationSelected }}
            </div>
            <div class="expanded-dropdown">
                <div class="item-dropdown" *ngFor="let item of operations" (click)="operationSelected=item" >
                    {{item}}
                </div>
            </div>
        </div>
        <!-- ubicacion -->
        <input type="text" class="ubicacion" placeholder="ubicacion (zona 10)" (change)="setZone($event)">
        <!-- buscar -->
        <button class="search last-dropdown" (click)="search()">
            BUSCAR
        </button>
    </div>
</div>

<div class="feature-properties">
    <div class="container-feature-properties">
        <div class="property" *ngFor="let item of featureProperties">
            <div class="photo" [style.background-image]="'url(/sdr/'+item.data.gallery[0]+')'"></div>
            <div class="description">
                <div class="title">{{item.data.title}}</div>
                <a href="{{item.url}}" class="share">
                    <fa-icon [icon]="['fas', 'share']"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</div>

