body {
    padding: 0;
    margin: 0;
}

.header {
    float: left;
    width: 100vw;
    min-height: 10vh;
    height: auto;
    padding-bottom: 50px;
    position: relative;

}

.social-media {
    float: left;
    width: 100vw;
}

.contact {
    float: right;
    margin-right: 10px;
    width: 45vw;
    font-weight: 900;
    color: white;
    text-align: right;
    margin-top: 10px;
}

.contact > a {
    text-decoration: none;
    text-shadow: 0px 0px 2px #000;
    color: white;
    font-size: 20px;
}

.logo {
    /*float: left;*/
    width: 35vw;
    /*margin-top: 10px;*/
    /*margin-left: 10px;*/
    height: auto;
    margin: 0 auto;
    height: auto;
}

.logo a {
    float: left;
    width: 100%;
    text-decoration: none;
    height: auto;
}

.logo > a > img {
    max-width: 100%;
    float: left;
}


.info {
    margin: 0 auto;
    width: 35vw;
    text-align:center;

}

.info > a {
    font-size: 24px;
    text-align: center;
    color: black;
    font-weight: 900;
    text-decoration: none;
}

.menu-desktop {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.menu-desktop > ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
}

.menu-desktop > ul > li {
    float: left;
    padding: 15px;
}

.menu-desktop > ul > li:hover {
    border-bottom: 2px solid #a1a1a1;
}

.menu-desktop > ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 900;
}

.header-pages {
    background-color: #CEF6F5;
}

.menu-mobile {
    display: none;
    color: white;
    text-shadow: #000 0px 0px 2px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}

.expanded-menu {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    background: rgba(0, 0, 0, .95);
}

.expanded-menu .close {
    position: absolute;
    right: 15px;
    top: 15px;
    color: white;
    font-size: 30px;
}

.expanded-menu .container {
    margin: 12vh auto;
    width: 80vw;
    height: 80vh;
    display: flex;
    align-items: center;
}

.expanded-menu .container > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 100%;
}

.expanded-menu .container > ul > li {
    float: left;
    width: 100%;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    color: white;
    margin-bottom: 10px;
}

.expanded-menu .container > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    float: left;
    width: 100%;
    text-align: center;
}

@media (max-device-width: 630px) {
    .logo{
        width: 70vw;
        height: 125px;
    }
    .info{
        width: 100%;
    }
    .info > a{
        font-size:20px;
    }
    .menu-desktop {
        display: none;
    }

    .menu-mobile {
        display: block;
        background-color: rgba(0,0,0,.7);
        padding: 10px;
        bottom: 0;
    }

    .social-media > .contact {
        width: 100%;
    }

    .social-media > div > a {
        font-size: 16px;
    }
}
